.colorblock-alert {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-bottom: 1rem;
    color: inherit;
}

.colorblock-alert > :first-child {
    margin-top: 0;
}

.colorblock-alert > :last-child {
    margin-bottom: 0;
}

.colorblock-alert .colorblock-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}

.colorblock-alert svg {
    margin-right: 0.5rem !important;
}

.colorblock-alert svg path {
    fill: currentColor;
}

.colorblock-alert.colorblock-alert-info {
    border-left: .25em solid #01689b;
    background: #cce7f4;
}

.colorblock-alert.colorblock-alert-info blockquote {
    border-left: .1rem solid #01689b!important;
}

.colorblock-alert.colorblock-alert-warning {
    border-left: .25em solid #e89440;
    background: #fef4db;
}

.colorblock-alert.colorblock-alert-warning blockquote {
    border-left: .1rem solid #e89440!important;
}

.colorblock-alert p, .colorblock-warning p,
.colorblock-alert li, .colorblock-warning li,
.colorblock-alert a, .colorblock-warning a {
		color: #154273!important;
}