.md-footer {
  background-color: #01689b; /* Light blue background */
  padding: 20px;
}

.md-footer a, .md-footer p {
  color: #fff;
}

.md-footer__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.md-footer__links {
  display: flex;
  flex: 2;
  font-size: 
  max-width: 600px; /* Beperkt de breedte van de rechtersectie */
  justify-content: flex-start;
}
/* Left Section */
.md-footer__notice {
  flex: 1;
  color: #fff; /* Dark blue for readability */
  font-size: 0.8rem;
}

.md-footer__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
  margin-left: auto;
}

.md-footer__column a {
  color: #fff; /* Darker link color */
  text-decoration: none;
  font-size: 0.8rem;
  position: relative; /* Nodig voor positionering van de chevron */
}

.md-footer__column a::before {
  content: "›"; /* Unicode-karakter voor een chevron */
  font-weight: 800;
  font-size: 1.1rem;
  margin-right: 6px; /* Ruimte tussen de tekst en de chevron */
  color: #fff; /* Matcht met de linkkleur */
  display: inline-block;
  transition: transform 0.2s ease; /* Animatie voor hover */
}

.md-footer__column a:hover, td:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .md-footer__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .md-footer__links {
    flex-direction: column;
    align-items: center;
  }
}

.md-source__facts li {
  color: #fff;
}